<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>

<body class="container-fluid" style="background-color: lightpink">
{% block header %}
{% endblock %}

<h2>Operating system</h2>
<p>{{ os_info }}</p>
<h2>IP interfaces</h2>
    {% for ip_interface in ip_interfaces %}
        <h3>{{ ip_interface.name }}</h3>
        <p><em>IP address:</em> {{ ip_interface.ip_address }}, <em>Subnet mask:</em> {{ ip_interface.subnet_mask }}</p>
    {% endfor %}

</body>
</html>
